// footyer start
footer{
    text-align: center;
    background-color: #282C31;
    padding: 50px 0 20px 0;
    .footer-container{
        align-content: center;
        height: 40px;
    }
    a{
        text-decoration: none;
        color: rgb(185, 182, 182);
        font-size: 12px;
        letter-spacing: 1px;
        padding-left: 30px;
        padding: 8px 20px;
        &:nth-child(-n+2){
            border-right: 1px solid rgb(141, 138, 138);
        }  
    }
    .footer-end{
        color: rgb(185, 182, 182);
        font-size: 12px;
        margin-top: 20px;
    }
    .footer-end-responsiv{
        display: none;
    }
}
@media (max-width: 1200px) and (min-width: 500px){
    footer{
      .footer-end-responsiv{
        display: block;
        color: rgb(185, 182, 182);
        font-size: 12px;
        padding-bottom: 30px;
      }
      .terms{
        display: none;
      }
     a{
        &:nth-child(-n+2){
            border-right:  none;
        }  
     }
     .footer-end{
        margin: 0;
     }
     .footer-container{
        padding-bottom: 20px;
     }
    }
}
// footer end